streamlit==1.55.0
spacy==3.8.11
scikit-learn==1.8.0
pandas==2.3.3
numpy==2.4.3
PyPDF2==3.0.1
pdfminer.six==20260107
joblib==1.5.3

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl